:root {
  --alink: #0000ee;
  --avisited: #551a8b;

  --lightgray: rgb(240 240 240 / 1);
  --gray: rgb(150 150 150 / 1);
  --darkgray: rgb(50 50 50 / 1);
  --byuiblue: rgb(0 110 182 / 1);
  --navy: rgb(0 0 128 / 1);
  --red: rgb(182 0 19 / 1);
  --mustard: rgb(182 163 0/ 1);
  --callout: rgb(230 243 254/ 1);
  --error: rgb(255 215 225/ 1);
  --warning: rgb(255 255 225/ 1);
  --details: rgb(238 254 238/ 1);
  --disciples: rgb(158 116 171 / 40%);

  --padd: 0.5rem;
  --bord: 1px solid rgb(0 0 0 / 10%);
}

body {
  font: 400 16px / 1.5 Montserrat, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.page {
  max-width: 960px;
  margin: 0 auto;
  padding: .5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 1.1rem;
  margin-left: 1rem;
  font-weight: normal;
}

#coursetitle {
  display: none;
}

h2 {
  font-size: 1.6rem;
  margin: 1.2rem 0;
}

h3 {
  font-size: 1.4rem;
  margin: 1.5rem 0 0.5rem;
  padding: .3rem 0;
  color: var(--darkgray);
  border-radius: 3px;
}

h4 {
  font-size: 1.2rem;
  margin: 0.5rem;
  color: var(--darkgray);
}

h5 {
  font-size: 1rem;
  color: var(--navy);
  margin: 0.75rem 1.2rem;
}

a {
  color: var(--navy);
}

a:link {
  color: var(--alink);
}

a:active {
  color: var(--red);
}

a:visited,
a:focus {
  color: var(--avisited);
}

p {
  margin: 1rem;
}

h1+p,
h2+p,
h3+p {
  margin-top: 0;
}

h4+p {
  margin: 0 1rem 1rem 1.25rem;
}

h5~p {
  margin-left: 1.5rem;
}

ol ol,
ul ul {
  margin-top: 1rem;
  /* override default */
}

li {
  margin-bottom: 0.5rem;
}

li ul li:nth-child(1) {
  margin-top: 0.5rem;
}

li ul li,
li ol li {
  margin-bottom: 0.5rem;
}

li p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: var(--byuiblue);
  padding: 0.5rem;
}

.logo {
  width: 50px;
  height: auto;
  background-color: #000;
  padding: 12px 11px;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  margin: 1.5rem 1rem;
}

nav {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}

nav span {
  font-size: .8rem;
  font-weight: 700;
  background-color: var(--lightgray);
  margin: 0 .25rem .25rem;
  text-align: center;
}

nav span a:link,
nav span a:visited,
nav span a:active,
nav span a:focus {
  color: #000;
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
  order: var(--bord);
}

nav span a:hover {
  background-color: var(--byuiblue);
  color: #fff;
}


footer {
  border-top: var(--bord);
  font-size: smaller;
  background-color: var(--lightgray);
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 0 0 0 0.5rem;
}

details {
  margin: 1rem;
  border: var(--bord);
  padding: 0.5rem;
  color: #000;
  background-color: var(--details);
}

summary {
  font-weight: 700;
  cursor: pointer;
}

details p {
  margin: 0.5rem 0 0 0.5rem;
  font-size: .9rem;
}

.clo {
  margin: 1rem .25rem;
}

pre {
  line-height: 1.2;
  margin: 0.5rem;
}

/* pre code {
  /* border: var(--bord); */
/* border-left: 3px solid var(--byuiblue); */
/* padding: 0.75rem !important; */
/* font-weight: 700 !important;
} */

/* details pre code {
  border-left: 3px solid rgb(50, 100, 50);
} */

code {
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 700;
  color: rgb(1, 100, 1);
}

.html,
.css,
.javascript,
.cli,
.json {
  font-weight: 400;
  padding: .75rem;
}

.character {
  color: rgb(1, 100, 1);
  font-size: smaller;
}

kbd {
  color: red;
}

mark {
  padding: 0.5rem;
  font-style: italic;
}

mark::before {
  content: '⚒️';
}

figure {
  margin: 1rem 0;
  text-align: center;
}

figcaption {
  font-size: smaller;
  margin: 0 0 1rem 0;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 90%);
  margin: 0.5em auto;
  width: 90%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
  box-shadow: 0 0 30px var(--darkgray);
}

table {
  border-collapse: collapse;
  margin: 1rem auto;
  width: 80%;
  border: var(--bord);
  background-color: var(--lightgray);
}

table caption {
  color: var(--navy);
  font-weight: 700;
}

th {
  background-color: var(--darkgray);
  color: #fff;
}

th,
td {
  border: var(--bord);
  padding: 0.5rem;
  text-align: center;
}

.active {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.active a:link,
.active a:visited,
.active a:active,
.active a:focus {
  color: #fff;
}

td.detailed-text-cell {
  text-align: left;
  font-size: 90%;
}

td.detailed-text-cell ul,
td.detailed-text-cell ol {
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

td.detailed-text-cell li {
  margin-bottom: 0.1rem;
}

.team::after {
  content: " \1F465"
}

.callout {
  margin: 1rem;
  border: var(--bord);
  padding: 0.5rem;
  color: #000;
}

.callout p {
  margin: .25rem;
}

.reference {
  background-color: var(--lightgray);
  margin: 0 1rem;
}

.reference ul {
  padding: 0 1rem;
}

.reference ul li {
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-image: url(../images/icon-link.svg);
  background-size: 16px;
  padding-left: 22px;
}

.info {
  background-color: var(--callout);
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}

.ai {
  background-color: var(--purple);
}

.ccl {
  background-color: var(--ccl);
}

.disciples {
  position: relative;
  background-color: var(--disciples);
  background-image: url(../images/disciples.png);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: calc(100% - 10px);
  background-size: 35px;
}

.discussion {
  background-color: var(--details);
}

.discussion h5 {
  color: var(--black);
}

.question {
  color: var(--navy);
  border-top: var(--bord);
}

blockquote {
  border-left: 3px solid var(--darkgray);
}

.smaller {
  font-size: smaller;
}

.bold700 {
  font-weight: 700;
}

.floatright {
  float: right;
  margin: 0 0 0.5rem 0.5rem;
}

.border {
  margin: 0 0 .5rem .5rem;
  border: var(--bord);
  background-color: #eee;
  padding: 0.5rem;
  box-shadow: 0 0 30px #bbb;
}

.border figcaption {
  display: flex;
  margin: 0;
  justify-content: center;
}

.step-reset {
  counter-reset: step;
}

.step {
  counter-increment: step;
}

.step::before {
  content: 'Step ' counter(step) ':  ';
  color: var(--navy);
}

.part-reset {
  counter-reset: part;
}

.part {
  counter-increment: part;
  margin-left: 1rem;
}

.part::before {
  content: 'Part ' counter(part) ':  ';
  font-size: x-large;
  color: var(--navy);
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
  justify-content: center;
}

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;  
}

.check {
  list-style: '✔ ';
}

#weeks {
  list-style: none;
  padding-left: 1rem;
}

#weeks li {
  margin-left: 0;
  margin-right: 1rem;
  border: var(--bord);
  padding: .25rem .5rem;
}

#weeks li a {
  display: block;
  text-decoration: none;
  color: #000;
}

#weeks li:hover {
  background-color: var(--byuiblue);
}

#weeks li a:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

@media screen and (min-width: 600px) {

  .page {
    position: relative;
  }

  .logo {
    width: 75px;
    padding: 18px 15px;
    top: -.5rem;
    right: 1rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  #coursetitle {
    display: inline;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    width: 100px;
    padding: 22px 20px;
  }

  h1 {
    font-size: 1.75rem;
    margin-left: 0;
  }
}

/* Added by Paul */
ul.check {
  margin: 0 0 0 25px;
  padding: 0;
}

ul.check a {
  color: var(--navy);
  text-decoration: underline;
}

ul.check>li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-image: url(../images/icon-check.svg);
  background-size: 16px;
  padding: 5px 0 5px 20px;
  color: var(--darkgray);
  background-repeat: no-repeat;
  background-position: 0 9px;
}



/* Video links */
p.watch {
  background-repeat: no-repeat;
  background-image: url(../images/icon-play.svg);
  background-position: 6px 50%;
  background-size: 50px;
  background-color: var(--lightgray);
  margin: 1rem;
  padding: 6px 0 6px 62px;
  font-size: 1.3rem;
  border: var(--bord);
  border-radius: 10px;

  text-decoration: none
}

p.watch span {
  display: block;
  font-size: .9rem;
  margin-top: .1rem;
  margin-left: .5rem;
  color: var(--darkgrey);
}

p.watch a {
  color: var(--byuiblue);
}

p.watch a:hover {
  border-color: #777;
  color: var(--red);
}

p.download {
  background-repeat: no-repeat;
  background-image: url(../images/icon-download.svg);
  background-size: 20px;
  background-position: 6px 50%;
  padding-left: 28px;
}

/* code pen links */
p.pen {
  background-repeat: no-repeat;
  background-image: url(../images/icon-pen.svg);
  background-position: 6px 50%;
  background-size: 50px;
  background-color: var(--lightgray);
  margin: 1rem;
  padding: 12px 0 12px 60px;
  font-size: 1.3rem;
  border: var(--bord);
  border-radius: 10px;
}

p.pen span {
  display: block;
  font-size: .9rem;
  margin-top: .1rem;
  margin-left: .5rem;
  color: var(--darkgrey);
}

p.pen a {
  color: var(--byuiblue);
}

p.pen a:hover {
  color: var(--red);
}