:root {
    /* colors */
    --text: rgb(0, 0, 0);
    --first-bg: rgb(158, 158, 158);
    --second-bg: rgb(114, 114, 114);
    --default-bg: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    /* outline: 1px solid red; */
    background-color: var(--default-bg);
    color: var(--text);
    border-radius: 10px;
}

html {
    padding: 0;
}

body {
    padding: 0;
}

header, main, footer {
    background-color: var(--second-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
}

/* hamburger */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    background-color: transparent;
}

.branding img {
    width: 30px;
    height: auto;
    background-color: transparent;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
    width: fit-content;
    align-items: center;
    border-radius: 0;
    background-color: var(--second-bg);
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    display: block;
}

/* menu button */
nav {
    display: none;
}

#nav-bar.show {
    display: block;
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    z-index: 500;
    justify-items: right;
}

#ham-btn {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
}

.hamburger::before {
    content: "\2630";
    display: block;
    text-align: center;
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\2715";
}

/* new stuff */

h2 {
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--first-bg);
}

p {
    text-align: center;
    background-color: var(--first-bg);
}

section {
    background-color: var(--second-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

div {
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a {
    background-color: var(--first-bg);
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--text);
    font-weight: bold;
}

a:hover {
    background-color: rgb(78, 78, 78);

}

span {
    padding: 0;
    background-color: transparent;
}

footer p {
    background-color: transparent;
    padding: 0;
}

.footer-js-data {
    padding: 1rem;
    background-color: var(--first-bg);
}

#logo {
    width: 20px;
}

#site-name {
    font-weight: bold;
    font-size: 0.9rem;
}

li {
    padding: 0;
    width: fit-content;
}

.nav-bar-a {
    width: fit-content;
}

#active {
    background-color: rgb(78, 78, 78);
}