* {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    /* outline: 1px solid red; */
    background-color: white;
    color: black;
    border-radius: 10px;
}

html {
    padding: 0;
}

body {
    background-color: rgb(214, 214, 214);
}

header, main, footer {
    background-color: rgb(158, 158, 158);
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
}

/* hamburger */

header {
    /* background: var(--primary); */
    /* color: var(--surface); */
    /* padding: 1rem; */
    /* padding: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    background-color: transparent;
}

.branding img {
    width: 30px;
    height: auto;
    background-color: transparent;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--surface);
    text-decoration: none;
    font-weight: 600;
    display: block;
    background: var(--primary);
}

nav a.active {
    border-bottom: 3px solid var(--accent);
}

/* menu button */
nav {
    display: none;
}

#nav-bar.show {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    background: var(--primary);
    /* padding: 1rem 0; */
    z-index: 500;
}

/* #nav-bar.show a {
    background: var(--primary-dark);
} */

#ham-btn {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* top: 0.3rem; */
    /* right: 0.6rem; */
    /* z-index: 1000; */
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
}

.hamburger::before {
    content: "\2630";
    display: block;
    text-align: center;
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\2715";
}

/* new stuff */

h2 {
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(114, 114, 114);
}

p {
    text-align: center;
    background-color: rgb(114, 114, 114);
}

section {
    background-color: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

div {
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a {
    background-color: rgb(114, 114, 114);
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: rgb(78, 78, 78);

}

span {
    padding: 0;
    background-color: transparent;
}

footer p {
    background-color: transparent;
    padding: 0;
}

.footer-js-data {
    padding: 1rem;
    background-color: rgb(114, 114, 114);
}

#logo {
    width: 20px;
}

#site-name {
    font-weight: bold;
    font-size: 0.9rem;
}