:root {
    /* colors */
    --text: #ffffff;
    --first-bg: #55362b;
    --test: #873e23;
    --test2: #617b40;
    --test3: #67171b;
    --second-bg: #54663c;
    --third-bg: #863f42;
    --default-bg: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    /* outline: 1px solid red; */
    background-color: var(--default-bg);
    color: var(--text);
    border-radius: 10px;
    font-family: "Caveat", cursive;
}

html {
    padding: 0;
    background-color: var(--first-bg);
}

body {
    padding: 0;
}

header, main, footer {
    background-color: var(--second-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
}

/* hamburger */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    padding-top: 1rem;
    background-color: transparent;
}

.branding img {
    background-color: transparent;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
    align-items: center;
    border-radius: 0;
    background-color: var(--second-bg);
    border: 1px solid var(--text);
}

nav a {
    text-decoration: none;
    font-weight: 600;
    display: block;
}

/* menu button */
nav {
    display: none;
}

#nav-bar.show {
    display: block;
    position: absolute;
    top: 85px;
    right: 1rem;
    z-index: 500;
    background-color: transparent;
    padding: 0;
}

#ham-btn {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    line-height: 1;
}

.hamburger::before {
    content: "\2630";
    display: block;
    text-align: center;
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\2715";
}

/* new stuff */
h1, h2 {
    font-size: 1.8rem;
    text-align: center;
    background-color: var(--first-bg);
}

p {
    text-align: center;
    background-color: var(--first-bg);
    font-size: 1.3rem;
}

section {
    background-color: var(--second-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

div {
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a, button{
    background-color: var(--first-bg);
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--text);
    font-weight: bold;
    font-size: 1.5rem;
}

a:hover, button:hover {
    background-color: var(--third-bg);
    cursor: pointer;
}

span {
    padding: 0;
    background-color: transparent;
}

footer p {
    background-color: transparent;
    padding: 0;
}

.footer-js-data {
    padding: 1rem;
    background-color: var(--first-bg);
}

#site-name {
    font-weight: bold;
    font-size: 1.1rem;
}

li {
    padding: 0;
    width: fit-content;
}

.nav-bar-a {
    width: fit-content;
}

#active {
    background-color: var(--third-bg);
}

#hero-img {
    display: none;
}

#hero-heading-container {
    flex-direction: column;
}

#footer-a-container {
    flex-direction: column;
}

/* factions.html */
.card img {
    width: 100%;
    /* padding: 0; */
    height: auto;
    background-color: transparent;
}

.card-container {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card h3 {
    text-align: center;
    background-color: transparent;
}

.card {
    background-color: var(--first-bg);
    /* padding: 0; */
    /* max-width: 230px; */
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.card-clickable {
    transition: transform 0.2s ease;
    border: 1px solid var(--text);
}

.card-clickable:hover {
    transform: translateY(-4px);
    background-color: var(--third-bg);
    cursor: pointer;
}

/* modal */
#modalContent {
    flex-direction: column;
}

#modalContent p {
    padding: 0;
}

#modalContent h3 {
    text-align: center;
    font-size: 1.5rem;
}

#modalContent p strong, #modalContent h3 {
    background-color: transparent;
}

#modalContent p strong {
    padding: 1rem 0;
}

#factionModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    max-width: 100%;
    width: 90%;
    background-color: var(--first-bg);
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}

.closeModal {
    background-color: var(--second-bg);
    font-size: 2rem;
    border: 1px solid var(--text);
    padding: 0.5rem 1.5rem;
    width: fit-content;
    margin: 0 auto;
}

.closeModal:hover {
    background-color: var(--third-bg);
    cursor: pointer;
}

.faction-lore {
        display: block;
    }

#modal-inner {
    flex-direction: column;
}

#modal-inner img {
    width: 100%;
    background-color: transparent;
}

/* creatures.html */
.card p strong, .card p {
    background-color: transparent;
}

#submit-creature {
    background-color: var(--first-bg);
    padding: 1rem;
}

#submit-creature > * {
    padding: 0;
}

#creature-form {
    border-radius: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#creature-form label {
    padding: 0;
    font-size: 1.4rem;
    background-color: transparent;
}

#creature-form label input, #creature-form label select {
    background-color: transparent;
    padding: 0 0.5rem;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

#creature-form label select option {
    background-color: var(--first-bg);
}

/* #submit-creature-form-button {
    background-color: var(--first-bg);
    font-size: 1.5rem;
    border: 1px solid var(--text);
} */

#creature-form label input::placeholder {
    color: var(--text);
    opacity: 1;
}

.attributions-section {
    padding: 1rem;
    background-color: var(--first-bg);
}

.attributions-section > * {
    padding: 0;
}

.attributions-section h2 {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.creature-submitted-info strong {
    background-color: transparent;
}