@media (min-width: 800px)
{
    #ham-btn {
        display: none;
    }
    
    body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    html {
        background-color: var(--first-bg);
    }

    #site-name {
        font-size: 2rem;
    }

    #logo {
        width: 50px;
        height: auto;
    }

    #branding {
        width: 100%;
        gap: 3rem;
    }

    #nav-bar {
        display: flex;
    }
}