@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        background: var(--primary-dark);
        padding: 1rem;
        gap: 1rem;
    }
}

@media (min-width: 800px) {
    #ham-btn {
        display: none;
    }

    nav {
        display: block;
    }
}