@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        background: var(--primary-dark);
        padding: 1rem;
        gap: 1rem;
    }

    /* spotlights */
    .spotlight-body {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 800px) {
    #ham-btn {
        display: none;
    }

    nav {
        display: block;
    }
    /* index.html */
    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 1, 14, 0.65);
        padding: 2rem;
        border-radius: 8px;
        max-width: 90%;
        color: var(--surface);
    }

    /* current events */
    .current-events {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .current-events h2 {
        grid-column: 1 / -1;
    }

    /* forecast */
    .forecast-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* join.html */
    .form-and-cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
    }
}