:root {
    --primary-color: #3d405b;
    --highlight-color: #deb887;
    --secondary-color: #dadada;
    --background-color: #ffffff;
    --dark-background: #000000;
}

* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
}

/********************* HEADER **********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/********************* HAMBURGER  **********************/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/********************* NAVIGATION  **********************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--highlight-color);
}

/********************* MAIN **********************/
h1 {
    margin: 1rem 10px;
    color: var(--primary-color);
}

section {
    margin: 1rem;
}

section h2 {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}

section p {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0.5rem;
}

section div {
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

section img {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
}

.filters button {
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--dark-background);
}

.filters button:hover {
    cursor: pointer;
    background-color: var(--highlight-color);
}

.filter-btn.active {
    background-color: var(--highlight-color);
}

#course-cards {
    background-color: var(--background-color);
    padding: 0;

}

.course-card {
    background-color: var(--background-color);
    padding: 0.5rem;

}

.course-card.completed p {
    background-color: var(--highlight-color);

}

.course-card p {
    background-color: var(--secondary-color);
    border: 1px solid var(--dark-background);
    text-align: center;
}

#total-credits {
    background-color: var(--background-color);
    font-size: 0.7rem;
    text-align: center;
}

/********************* FOOTER  **********************/
footer {
    background-color: var(--background-color);
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--secondary-color) solid 1px;
    border-radius: 22px;
    color: var(--primary-color);
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--secondary-color);
}